FormalChat/.gradle
FormalChat/.idea
FormalChat/build
FormalChat/gradle
gradlew
gradlew.bat
local.properties
*.iml
FormalChat/ffmpeg4android_lib/build/generated/source/buildConfig
FormalChat/ffmpeg4android_lib/build/generated/source/r/debug
FormalChat/ffmpeg4android_lib/build
